.dropdown-container {
  margin-bottom: 5px;
}

.dropdown-content {
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: rgba(0, 0, 0, 0.4);
  color: #333;
  outline: none;
  cursor: pointer;
  color: #eaeaea;
}

.dropdown-content:hover {
  background-color: #354f5d;
}

.dropdown-content:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.dropdownLabel {
  color: #040404;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 22px;
}
