.navbar {
  background-color: black;
  width: 100%;
  height: 60px;
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 10px;
  gap: 29%;
  padding-right: 10px;
}

.navbar-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 20px;
  gap: 20px;
}

.navbar-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

.navbar-center h3 {
  margin: 0; /* Removes default margin */
  font-size: 2rem; /* Adjusts font size */
  color: #f9f6f6; /* Adjusts text color */
}

.navbar-heading {
  color: white;
  font-family: sans-serif;
  font-size: 30px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.image {
  align-self: left;
  width: 40px;
  height: 50px;
}

.home-icon {
  width: 30px;
  color: aliceblue;
  height: 30px;
}

.active-link .home-icon {
  color: #007bff;
}
