.main-container {
  background-color: #153a58;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  height: 100vh;
}
.summary-container {
  position: relative;
  width: 70%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 15px;
  height: 520px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: block;
}

.summary-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/NHL_Background.jpg") no-repeat center center;
  background-size: cover;
  filter: blur(3px); /* Adjust the blur value as needed */
  border-radius: 15px; /* Same border-radius as .summary-container */
  z-index: -1;
}
.card-container {
  display: grid;
  gap: 15px;
  margin-top: 20px;
  max-height: 440px;
  overflow-y: auto;
  z-index: 2;
}

.dropdown {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: flex-end;
}
