.card {
  background-color: rgba(0, 0, 0, 0.6); /* Light black with 20% opacity */
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  margin: 0px 18px 0px 18px; /* Center the card horizontally */
  transition: transform 0.2s;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: aliceblue;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.card:hover {
  transform: scale(1.02);
}

.card h2 {
  font-size: 1.5em;
  align-content: left;
}

.card p {
  margin: 4px 0;
}

.card-heading {
  width: 35%;
  margin: 4px;
  align-items: center;
}
.card-content {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.card-values {
  align-items: center;
  justify-content: center;
}

.card-numbers {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 35px;
  padding: 0;
  margin: 0;
}
/* link.css */
.custom-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
  cursor: pointer; /* Change cursor to pointer on hover */
  width: 100%;
  margin: 0;
  padding: 0;
}

.custom-link:hover {
  text-decoration: none; /* Remove underline on hover */
  color: inherit; /* Inherit text color on hover */
}

.card-page {
  margin: 8px, 18px, 8px, 18px;
  padding: 0;
  width: 100%;
}
